<div class="container">
    <div class="row">
        <div class="col">
            <h2>World Data</h2>
        </div>
    </div>
    <div class="row">
        <div class="col home-data">
            <h5>Total Cases </h5>
            <span> totalNumbersofCases</span>
        </div>
        <div class="col home-data">
            <h5>Total Death</h5>
            <span> totalDeath</span>

        </div>
        <div class="col home-data">
            <h5>Total Recovered</h5>
            <span> totalRecovered</span>

        </div>
    </div>
</div>