<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Covid Case 19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive href="#">World Wide Data <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/countries" href="#">Countries</a>
      </li>
    </ul>
  </div>
</nav>
<!-- 
<div class="jumbotron jumbotron-fluid  mx-lg-auto">
  <div class="container">
    <h1 class="display-4">Covid Case Data</h1>
    <p class="lead"> This site will help you to know total number of covid positive patience all over the world and you can also check Countries wise.</p>
  </div>
</div> -->

<router-outlet> </router-outlet>